<div id="aboutSection" class="md:min-h-[90vh] lg:py-20 mb-10">

    <div class="min-h-[20%] py-5 lg:py-10 flex items-center justify-items-start bg-[#F7EAFF]">
        <h1 id="" class="text-start ps-[8%] w-full text-xl sm:text-2xl lg:text-4xl font-extrabold tracking-tight text-[#460071] dark:text-white">ABOUT US</h1>
    </div>
    <div class="flex items-center min-h-[80%] py-10">
        <p class="text-[#460071] indent-20  text-sm lg:text-[1.3rem] lg:text-center font-[350] leading-8 tracking-wide w-[85%] mx-auto"><span class="font-medium text-lg md:text-[30px]">W</span>e are a well growing HR firm in India. we help start-ups, small and large companies achieve their business targets, create teamwork and efficiency, with the valuable experience and thorough knowledge in a wide range of industries, we are unparalleled in providing prompt and effective manpower & payroll compliance solutions to our clients across <span class="font-medium">Pune, Mumbai, Hyderabad, Chennai, Bangalore & Kochi</span>. We work to understand the complexities of our clients, their corporate culture and organizational direction.</p>
            
            <!-- <span class="font-normal text-[2rem]">W</span>e provide customizable HR services to companies, resulting in immediate improvement in productivity, has management of payroll and compliance. Career Byte provides the whole range of solutions related to <span class="font-normal text-[1.4rem]">Recruitment, </span><span class="font-normal text-[1.4rem]">Staffing </span>and <span class="font-normal text-[1.4rem]">HR </span>needs of a company.</p> -->

    </div>
</div>