<div id="servicesSection" class="min-h-[90vh] py-10 pb-16 mb-10 bg-[#F7EAFF]">

    <div class="min-h-[20%] py-5 lg:py-10 bg-[#934dbd] flex items-center mb-10 justify-items-start ">
        <h1 id="" class="w-full text-start ps-[8%] text-lg sm:text-2xl lg:text-4xl font-extrabold tracking-wide text-white  dark:text-white">
            OUR
            SERVICES</h1>
    </div>
    <div class="grid grid-flow-col grid-cols-6 py-8 h-[80%]">
        <div class="col-span-2 ">
            <div class="border-r-2 border-[#460071]">
                <h1 id=""
                    class="w-full text-base sm:text-lg lg:text-2xl font-medium text-end ps-1 pe-3 md:px-10 tracking-wide py-4 text-[#460071]  dark:text-white">
                    PERMANENT RECRUITMENT <br> & STAFFING SOLUTIONS</h1>

            </div>

        </div>
        <div class=" col-span-4">
            <p
                class="text-[#460071] indent-20 text-[14px] lg:text-[1.3rem] text-start font-[350] leading-8 tracking-wide w-[85%] mx-auto">
                <span class="font-medium text-[30px]">O</span>ur comprehensive family of brands address the complex
                workforce challenges organizations face today, from contingent and permanent staffing to talent
                management, outsourcing, and talent development. We deliver the solutions that drive your business
                forward. <br>
                A pool of talented employees is an asset for any organisation. Hence, it is imperative to choose the
                right candidate for the right job with a <span class="font-medium"> systematic recruitment process and well-crafted employer
                branding </span>. While your HR department can focus on employee engagement and retention, companies with
                permanent recruitment expertise, like us can be best partners for marrying the candidate skills and
                attitude with the job requirement and company’s culture.</p>
        </div>

    </div>
    <div class="grid grid-flow-col grid-cols-6 py-8 h-[80%]">

        <div class=" col-span-4">
            <p
                class="text-[#460071] indent-20 text-[14px] lg:text-[1.3rem] text-end font-[350] leading-8 tracking-wide w-[85%] mx-auto">
                <span class="font-medium text-[30px]">P</span>ayroll Compliance Services ensure your business meets all
                regulatory requirements by managing <span class="font-medium">Payroll, PF, ESIC, Professional Tax (PT), and Labour Welfare Fund(LWF) compliances, filings, and statutory contributions</span> efficiently and accurately. <br>
                Our team of experts provides comprehensive Payroll Compliance Services to support your business at every
                stage, ensuring seamless operations and adherence to regulatory requirements.</p>
        </div>
        <div class="col-span-2 ">
            <div class="border-l-2 border-[#460071]">
                <h1 id=""
                    class="w-full sm:text-lg lg:text-2xl font-medium text-start ps-3 pe-1 md:px-10 tracking-wide py-4 text-[#460071]  dark:text-white">
                    PAYROLL COMPLIANCE <br> & SERVICES </h1>

            </div>

        </div>

    </div>
</div>