<div id="whyContainer" class="min-h-[90vh] mt-8 py-8 ">
    <div class="grid grid-cols-3">
        <div class="bg-[#934dbd] stacked-headers min-h-[57vh] flex items-center justify-center ">
            
                <h1 id=""
                    class="whyus w-full  text-center mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">
                    <span class="text-[2.5rem] sm:text-[4rem] lg:text-[6rem] xl:text-[7rem]">Why</span><span
                        class="text-[#ffffff] text-[1.5rem] sm:text-[2rem] lg:text-[3.5rem] xl:text-[4rem]">US ?</span></h1>
                <h1 id=""
                    class="whyus w-full text-center mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">
                    <span class="text-[2.5rem] sm:text-[4rem] lg:text-[5rem] xl:text-[6rem]">Vision</span><br><span class="text-[#ffffff] text-[1.5rem] sm:text-[2rem] lg:text-[3.5rem] xl:text-[4rem]"> And
                        Mission</span></h1>

            


        </div>
        <div class="col-span-2 stacked-headers bg-[#F7EAFF] min-h-[20rem] flex items-center">
            <p class="whyPara lg:leading-9"><span
                    class="font-normal text-[1.5rem] md:text-[2rem]">W</span>e provide customizable HR services to companies, resulting
                in immediate improvement in productivity, has management of payroll and compliance. Career Byte provides
                the whole range of solutions related to <span class="font-normal text-[1.4rem]">Recruitment,
                </span><span class="font-normal text-[1.4rem]">Staffing </span>and <span
                    class="font-normal text-[1.4rem]">HR </span>needs of a company.</p>
            <p class="whyPara opacity-0 lg:leading-8"><span
                    class="font-normal text-[2rem]">W</span>e’re an agency with purpose, connecting great candidates
                with great employers & also to provide HR solutions while supporting our community.
                <br>
                <br>
                <span>
                    <span class="font-medium"><span class="font-normal text-[1.7rem]">O</span>ur Mission</span> : To
                    connect great organisations with even greater people. We strive to deliver what we promise, first
                    time every time!
                </span>
                <br>
                <span>
                    <span class="font-medium"><span class="font-normal text-[1.7rem]">O</span>ur Vision</span> : To be
                    the leading partner that clients and candidates always choose to connect with.
                </span>

            </p>

        </div>


    </div>
    <!-- <div class="grid grid-cols-3 mt-24">
        <div class="col-span-2 bg-[#F7EAFF] min-h-[462px]" >
            
        </div>
        <div class=" bg-slate-100 min-h-[20rem]" >
            
        </div>

        
    </div> -->
</div>